@color: #444444;

.circle
{
	width    : 260px;
	height   : 260px;
	left     : 20px;
	top      : 20px;
	position : relative;
}

.face
{
	width            : 100%;
	height           : 100%;
	border           : 10px solid @color;
	border-radius    : 50%;
	position         : relative;
	background-color : #ffffff;

	&:before
	{
		position      : absolute;
		top           : 50%;
		left          : 50%;
		right         : 10px;
		bottom        : 10px;
		background    : #cccccc;
		border-radius : 50%;
		content       : "";
		display       : block;
		width         : 20px;
		height        : 20px;
		margin-left   : -10px;
		margin-top    : -10px;
		z-index       : 1;
		display       : none;
	}

	.position
	{
		width                    : 0;
		height                   : 0;
		position                 : absolute;
		top                      : 50%;
		left                     : 50%;
		margin                   : -40% -5px 0;
		-webkit-transform-origin : 50% 100%;
		-moz-transform-origin    : 50% 100%;
		-ms-transform-origin     : 50% 100%;
		transform-origin         : 50% 100%;

		border-radius            : 5px 5px 0px 0px;
	}

	#hour
	{
		background-color : @color;
		padding          : 25% 5px 5px;
		margin           : -25% 0px 0px -5px;
	}
	#minute
	{
		background-color : @color;
		padding          : 42% 5px 0;
	}
	#second
	{
		background-color : green;
		padding          : 40% 1px 0;
		margin           : -40% -1px 0 0;
	}
}