@height: 100% /3;
body, html
{
	margin  : 0px;
	padding : 0px;
}

.container
{
	position : absolute;
	width    : 100%;
	height   : 100%;
}

.left-container, .right-container
{
	display : inline-block;
	float   : left;
	height  : 100%;
}

.left-container
{
	width            : 30%;
}

.right-container
{
	width            : 70%;
	margin-left      : 0px;
}

.row
{
	height : @height;

}

.queuing-container
{
	background-color : #8dea3a;
	.digit
	{
		background-color : #8dea3a;
		&:before
		{
			border-right : 1px solid #54b518;

		}
	}
}

.app-container
{
	background-color : #ff8820;
	.digit
	{
		background-color : #ff8820;
		&:before
		{
			border-right : 1px solid #f57a13;

		}
	}
}

.tickets-container
{
	background-color : #30ade5;
	.digit
	{
		background-color : #30ade5;
		&:before
		{
			border-right : 1px solid #1b94dd;

		}

		&:last-child
		{
			&:before
			{
				border-right : none;
			}
		}
	}
}

.digit
{
	display    : inline-block;
	position   : relative;
	height     : 100%;
	width      : 10%;
	text-align : center;
	margin     : 0px -2px;
	padding    : 0px;
	font-size  : 50px;
	color      : #ffffff;

	&:before
	{
		content  : '';
		height   : 100%;
		width    : 100%;
		position : absolute;
		top      : 0px;
		right    : 0px;
	}

	&:last-child
	{
		&:before
		{
			border-right : none;
		}
	}
}

/*.counter-analog{
	span{
		&.part{
			display: inline-block;
		}
	}
}

.digit{
	background: transparent url("../img/counter-sprite.png") 0 0;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 22px;
	vertical-align: middle;
	text-align: center;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	margin: 0;
}*/

.digit0
{
	background-position : 0 -300px;
}

.digit1
{
	background-position : 0 -30px;
}

.digit2
{
	background-position : 0 -60px;
}

.digit3
{
	background-position : 0 -90px;
}

.digit4
{
	background-position : 0 -120px;
}

.digit5
{
	background-position : 0 -150px;
}

.digit6
{
	background-position : 0 -180px;
}

.digit7
{
	background-position : 0 -210px;
}

.digit8
{
	background-position : 0 -240px;
}

.digit9
{
	background-position : 0 -270px;
}

/* UP */
/*
.counter-analog span.part span.digit01 {
	-webkit-animation: counter-analog-01 .3s steps(6, end) 1;
	-moz-animation: counter-analog-01 .3s steps(6, end) 1;
	-ms-animation: counter-analog-01 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit12 {
	-webkit-animation: counter-analog-12 .3s steps(6, end) 1;
	-moz-animation: counter-analog-12 .3s steps(6, end) 1;
	-ms-animation: counter-analog-12 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit23 {
	-webkit-animation: counter-analog-23 .3s steps(6, end) 1;
	-moz-animation: counter-analog-23 .3s steps(6, end) 1;
	-ms-animation: counter-analog-23 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit34 {
	-webkit-animation: counter-analog-34 .3s steps(6, end) 1;
	-moz-animation: counter-analog-34 .3s steps(6, end) 1;
	-ms-animation: counter-analog-34 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit45 {
	-webkit-animation: counter-analog-45 .3s steps(6, end) 1;
	-moz-animation: counter-analog-45 .3s steps(6, end) 1;
	-ms-animation: counter-analog-45 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit56 {
	-webkit-animation: counter-analog-56 .3s steps(6, end) 1;
	-moz-animation: counter-analog-56 .3s steps(6, end) 1;
	-ms-animation: counter-analog-56 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit67 {
	-webkit-animation: counter-analog-67 .3s steps(6, end) 1;
	-moz-animation: counter-analog-67 .3s steps(6, end) 1;
	-ms-animation: counter-analog-67 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit78 {
	-webkit-animation: counter-analog-78 .3s steps(6, end) 1;
	-moz-animation: counter-analog-78 .3s steps(6, end) 1;
	-ms-animation: counter-analog-78 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit89 {
	-webkit-animation: counter-analog-89 .3s steps(6, end) 1;
	-moz-animation: counter-analog-89 .3s steps(6, end) 1;
	-ms-animation: counter-analog-89 .3s steps(6, end) 1;
}
.counter-analog span.part span.digit90 {
	-webkit-animation: counter-analog-90 .3s steps(6, end) 1;
	-moz-animation: counter-analog-90 .3s steps(6, end) 1;
	-ms-animation: counter-analog-90 .3s steps(6, end) 1;
}


@-webkit-keyframes counter-analog-01 { from { background-position:  0     0; }
	to {   background-position:  0  -240px; }}
@-moz-keyframes counter-analog-01 {    from { background-position:  0     0; }
	to {   background-position:  0  -240px; }}
@-ms-keyframes counter-analog-01 {     from { background-position:  0     0; }
	to { background-position:    0  -240px; }}

@-webkit-keyframes counter-analog-12 { from { background-position:  0  -240px; }
	to {   background-position:  0  -480px; }}
@-moz-keyframes counter-analog-12 {    from { background-position:  0  -240px; }
	to {   background-position:  0  -480px; }}
@-ms-keyframes counter-analog-12 {     from { background-position:  0  -240px; }
	to { background-position:    0  -480px; }}

@-webkit-keyframes counter-analog-23 { from { background-position:  0  -480px; }
	to {   background-position:  0  -720px; }}
@-moz-keyframes counter-analog-23 {    from { background-position:  0  -480px; }
	to {   background-position:  0  -720px; }}
@-ms-keyframes counter-analog-23 {     from { background-position:  0  -480px; }
	to { background-position:    0  -720px; }}

@-webkit-keyframes counter-analog-34 { from { background-position:  0  -720px; }
	to {   background-position:  0  -960px; }}
@-moz-keyframes counter-analog-34 {    from { background-position:  0  -720px; }
	to {   background-position:  0  -960px; }}
@-ms-keyframes counter-analog-34 {     from { background-position:  0  -720px; }
	to { background-position:    0  -960px; }}

@-webkit-keyframes counter-analog-45 { from { background-position:  0  -960px; }
	to {   background-position:  0  -1200px; }}
@-moz-keyframes counter-analog-45 {    from { background-position:  0  -960px; }
	to {   background-position:  0  -1200px; }}
@-ms-keyframes counter-analog-45 {     from { background-position:  0  -960px; }
	to { background-position:    0  -1200px; }}

@-webkit-keyframes counter-analog-56 { from { background-position:  0  -1200px; }
	to {   background-position:  0  -1440px; }}
@-moz-keyframes counter-analog-56 {    from { background-position:  0  -1200px; }
	to {   background-position:  0  -1440px; }}
@-ms-keyframes counter-analog-56 {     from { background-position:  0  -1200px; }
	to { background-position:    0  -1440px; }}

@-webkit-keyframes counter-analog-67 { from { background-position:  0  -1440px; }
	to {   background-position:  0  -1680px; }}
@-moz-keyframes counter-analog-67 {    from { background-position:  0  -1440px; }
	to {   background-position:  0  -1680px; }}
@-ms-keyframes counter-analog-67 {     from { background-position:  0  -1440px; }
	to { background-position:    0  -1680px; }}

@-webkit-keyframes counter-analog-78 { from { background-position:  0  -1680px; }
	to {   background-position:  0  -1920px; }}
@-moz-keyframes counter-analog-78 {    from { background-position:  0  -1680px; }
	to {   background-position:  0  -1920px; }}
@-ms-keyframes counter-analog-78 {     from { background-position:  0  -1680px; }
	to { background-position:    0  -1920px; }}

@-webkit-keyframes counter-analog-89 { from { background-position:  0  -1920px; }
	to {   background-position:  0  -2160px; }}
@-moz-keyframes counter-analog-89 {    from { background-position:  0  -1920px; }
	to {   background-position:  0  -2160px; }}
@-ms-keyframes counter-analog-89 {     from { background-position:  0  -1920px; }
	to { background-position:    0  -2160px; }}

@-webkit-keyframes counter-analog-90 { from { background-position:  0  -2160px; }
	to {   background-position:  0  -2400px; }}
@-moz-keyframes counter-analog-90 {    from { background-position:  0  -2160px; }
	to {   background-position:  0  -2400px; }}
@-ms-keyframes counter-analog-90 {     from { background-position:  0  -2160px; }
	to { background-position:    0  -2400px; }}



*/
