<div class="circle">
	<div class="face">
		<div id="hour" class="position" style="-webkit-transform: rotate(90deg);"></div>
		<div id="minute" class="position" style="-webkit-transform: rotate(0deg);"></div>
		<div id="second" class="position" style="-webkit-transform: rotate(180deg);"></div>
	</div>
</div>

<br /><br />
<p>Time: {{time.hour}}:{{time.minute}}:{{time.second}}</p>