
<!--
<div>
	<span class="queuing counter-analog">4200000000</span>
</div>

<div>
	<span class="ticketing counter-analog">77700000</span>
</div>
<div>
	<span class="apps counter-analog">2500000</span>
</div>-->
<div class="container">
	<div class="left-container">
		<div class="row">
			Time we saved our customers.
		</div>
		<div class="row">
			Tickets sold through our systems.
		</div>
		<div class="row">
			Tickets sold through our systems.
		</div>
	</div>
	<div class="right-container">
		<div class="row queuing-container">
			<div class="digit">1</div>
			<div class="digit">2</div>
			<div class="digit">3</div>
			<div class="digit">4</div>
			<div class="digit">5</div>
			<div class="digit">6</div>
			<div class="digit">7</div>
			<div class="digit">8</div>
			<div class="digit">9</div>
			<div class="digit">0</div>
		</div>
		<div class="row tickets-container">
			<div class="digit">1</div>
			<div class="digit">2</div>
			<div class="digit">3</div>
			<div class="digit">4</div>
			<div class="digit">5</div>
			<div class="digit">6</div>
			<div class="digit">7</div>
			<div class="digit">8</div>
			<div class="digit">9</div>
			<div class="digit">0</div>
		</div>
		<div class="row app-container">
			<div class="digit">1</div>
			<div class="digit">2</div>
			<div class="digit">3</div>
			<div class="digit">4</div>
			<div class="digit">5</div>
			<div class="digit">6</div>
			<div class="digit">7</div>
			<div class="digit">8</div>
			<div class="digit">9</div>
			<div class="digit">0</div>
		</div>
	</div>
</div>